
<div class="section">
	<div class="container">
		<h1 class="title is-2">Editing Task</h1>
		<%= render 'form', task: @task, project: @project %>
	</div>
	<%= link_to 'Back', project_tasks_path, class:'button btn btn-link' %>
</div>

